$brand-color-1: #7beec7;
$title-color: #60606e;
$content-color: #999999;
body {
	font-family: sans-serif;
}


// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}
@mixin section-title-rectangle {
	content: "";
	position: absolute;
	bottom: 0;
	z-index: -1;
	background-color: $brand-color-1;
	width: 70px;
	height: 21px;
}